#main-header {
    box-shadow: 1px 1px 10px #ccc;
    z-index: 11;
    width: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    /*background-color: #82AB4D;*/
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin:0;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

a.link-green {
    padding:0 1em;
    color: #82AB4D;
}
a.link-green:hover {
    color: #3E7054;
}

.navbar-notlogged{
    display:flex;   
}

.navbar-logged{
    display: flex;
}

@media (max-width: 1024px) {
    .navbar-right {
        display: block;
    }
}

@media (max-width: 991px) {
    ul li {
        padding: 2%;
        border-bottom: 1px solid #82AB4D;
    }
}